@media screen and (max-width: 480px) {
    
    .container {
            width: 500px;
            height: 500px;
        }
        body {
            background-color: red;
        }
    }
   #athletes{
       padding: 10px;
   }